<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>School of AJJST</title>
</head>
<body>
    <h1 align="center">Kontoförfrågningar/h1>
    <div align="center">
        <table align="center" width="75%" height="125">
            <tr>
                <form action="/admin/accountrequests" method="post">
                    <td><button type="submit">Hantera kontoförfrågningar</button></td>
                </form>

                <form action="/admin/assignstudents" method="post">
                    <td><button type="submit">Registrera studenter på program</button></td>
                </form>

                <form action="/admin/programcourse" method="post">
                    <td><button type="submit">Lägg till / ta bort kurser från program</button></td>
                </form>

                <form action="/admin/removeperson" method="post">
                    <td><button type="submit">Radera person</button></td>
                </form>

                <form action="/logout" method="post">
                    <td><button type="submit">Logga ut</button></td>
                </form>
            </tr>
        </table>
    </div>

    <br><br><br><br>


    <h3 align="center">
    <td>
        <span th:if="${accountRequestsList.isEmpty()}">Det finns inga kontoförfrågningar för tillfället</span>
    </td>

    <tr th:each="request : ${accountRequestsList}" align="center">
        <td><span th:text="'Username: ' + ${request.userName}"></span></td>
        <br>
        <td><span th:text="'First Name: ' + ${request.firstName}"></span></td>
        <br>
        <td><span th:text="'Last Name: ' + ${request.lastName}"></span></td>
        <br>
        <td><span th:text="'Personal Number: ' + ${request.personalNumber}"></span></td>
        <br>
        <td><span th:text="'Email: ' + ${request.email}"></span></td>
        <br>
        <td><span th:text="'Adress: ' + ${request.adress}"></span></td>
        <br>
        <td><span th:text="'Title: ' + ${request.personType.personTypeTitle}"></span></td>

        <form th:action="@{/admin/manageaccess}">
            <select th:name="permission">
                <option value="DENIED">Neka tillgång</option>
                <option value="ROLE_STUDENT">Godkänn som Student</option>
                <option value="ROLE_TEACHER">Godkänn som Teacher</option>
                <option value="ROLE_STAFF">Godkänn som Faculty</option>
                <option value="ROLE_ADMIN">Godkänn som Administrator</option>
            </select>
            <button type="submit" th:name="username" th:value="${request.userName}">Spara</button>
        </form>
        <br><br>
    </tr>
    </h3>

</body>
</html>