<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welcome Administrator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    <!-- //web font -->
</head>
<body>

<!--        <form action="@{/denyaccess(username=${request.userName}',permission='0'}">-->
<!--        <td><input type="submit" value="Deny Access" /> </td>-->
<!--        </form>-->
<!--        <form action="@{/approveaccess1}">-->
<!--            <td><input type="submit" value="Approve as Student" /> </td>-->
<!--        </form>-->
<!--        <form action="@{/approveaccess2}">-->
<!--            <td><input type="submit" value="Approve as Teacher" /> </td>-->
<!--        </form>-->
<!--        <form action="@{/approveaccess3}">-->
<!--            <td><input type="submit" value="Approve as Faculty" /> </td>-->
<!--        </form>-->
<!--        <form action="@{/approveaccess4}">-->
<!--            <td><input type="submit" value="Approve as Adminisstrator" /> </td>-->
<!--        </form>-->
        <br>
        <br>
    </tr>
    </tbody>

</body>
</html>