<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welcome Administrator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    <!-- //web font -->
</head>
<body>
    <h1 align="center">Pending account Requests</h1>
    <div align="center">
        <table align="center" width="75%" height="125">
            <tr>
                <form action="/adminstartview" method="post">
                    <td><button type="submit">Account Requests</button></td>
                </form>

                <form action="/assignstudents" method="post">
                <td><button type="submit">Assign Students to Program</button></td>
                </form>

                <form action="/programcourse" method="post">
                    <td><button type="submit">Assign Students to Program</button></td>
                </form>

                <form action="/removeperson" method="post">
                    <td><button type="submit">Remove Person</button></td>
                </form>
            </tr>
        </table>
    </div>

    <br><br><br><br>

    <h3 align="center">
    <td>
        <span th:if="${accountRequestsList.isEmpty()}">There are no pending requests</span>
    </td>

    <tr th:each="request : ${accountRequestsList}" align="center">
        <td><span th:text="'Username: ' + ${request.userName}"></span></td>
        <br>
        <td><span th:text="'First Name: ' + ${request.firstName}"></span></td>
        <br>
        <td><span th:text="'Last Name: ' + ${request.lastName}"></span></td>
        <br>
        <td><span th:text="'Personal Number: ' + ${request.personalNumber}"></span></td>
        <br>
        <td><span th:text="'Email: ' + ${request.email}"></span></td>
        <br>
        <td><span th:text="'Adress: ' + ${request.adress}"></span></td>
        <br>
        <td><span th:text="'Title: ' + ${request.personType.personTypeTitle}"></span></td>

        <form th:action="@{/manageaccess}">
            <select th:name="permission">
                <option value="0">Deny Access</option>
                <option value="1">Approve as Student</option>
                <option value="2">Approve as Teacher</option>
                <option value="3">Approve as Faculty</option>
                <option value="4">Approve as Administrator</option>
            </select>
            <button type="submit" th:name="username" th:value="${request.userName}">Save</button>
        </form>
        <br><br>
    </tr>
    </h3>

</body>
</html>