<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Ändra Information</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<style type ="text/css">
	label{
			display: inline-block;
			width: 200px;
			margin: 5px;
			text-align:left;
	}
    .body {
        background-color: #aaada9;
    }
	button{
		margin: 10px;
		padding: 10px;
	}
	input[type=text], input[type=password], select{
		display: inline-block;
		width: 200px;
	}
	input[type=checkbox]{
		margin-right: 190px; 
	}
	
</style>
</head>
<body class="body">
	<div align="center"><br/>
	<h1>Ändra Information</h1></br></br>
	
	<form action="#" th:action="@{/teacher/save}" th:object="${person}" method="POST">

    <label for="firstName">Namn : </label>
    <input type="text" id="firstName" name="firstName"
           th:value="${Person.firstName}"><br/>

    <label for="lastName">Efternamn :</label>
    <input type="text" id="lastName" name="lastName"
           th:value="${Person.lastName}"><br/>

    <label for="personalNumber">Personnummer :</label>
    <input style="background-color: #aaada9" type="text" id="personalNumber" readonly name="personalNumber"
           th:value="${Person.personalNumber}"><br/>

    <label for="adress">Adress :</label>
    <input type="text" id="adress" name="adress"
           th:value="${Person.adress}"><br/>

    <label for="email">Epostadress :</label>
    <input align="20%" type="text" id="email" name="email"
           th:value="${Person.email}"><br/>

    <label for="personType">Sysselsättning :</label>
    <input style="background-color: #aaada9" type="text" id="personType"  readonly name="personType" 
           th:value="${Person.personType.personTypeTitle}"><br/>

    <button type="submit" value="Edit">Spara information</button>

</form>
	</div>
</body>
</html>