<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Ändra Information</title>
<style type ="text/css">
	label{
			display: inline-block;
			width: 200px;
			margin: 5px;
			text-align:left;
	}
	button{
		margin: 10px;
		padding: 10px;
	}
	input[type=text], input[type=password], select{
		display: inline-block;
		width: 200px;
	}
	input[type=checkbox]{
		margin-right: 190px; 
	}
	
</style>
</head>
<body>
	<div align="center"><br/>
	<h1>Ändra Information</h1></br></br>
	
	<form action="#" th:action="@{/edit}"  method="post">
		<label>Namn: </label>
		<input type="text" th:field="*{teacher.firstName}"/><br/><br/>
		
		<label>Efternamn: </label>
		<input type="text" th:field="*{teacher.lastName}"/><br/><br/>
		
		<label>Personnummer: </label>
		<input type="text" th:field="*{teacher.personalNumber}"/><br/><br/>
		
		<label>Mejl adress: </label>
		<input type="text" th:field="*{teacher.email}"/><br/><br/>
		
		<label>Adress: </label>
		<input type="text" th:field="*{teacher.adress}"/><br/><br/>
		
		<button type="submit">Spara</button>
	</form>
	</div>
</body>
</html>