<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Error Page</title>
 <!-- Custom Theme files -->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    <!-- //web font -->
</head>
<body>
	<div align="center">
		<br/><br/>
		<h1 align="center">Något gick fel! </h1>	
		<br/><br/>	
	<a href="/login">Tillbaka till start sida </a>
	</div>
</body>
</html>