<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- Custom Theme files -->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    <!-- //web font -->
</head>
<body>
<h1 align="center">Logged in as faculty...</h1>
<h2 align="center">Din information</h2>
<p align="center">
    <label>Namn: </label>
    <label>
        <td align="center" th:text="${Person.firstName}"></td>
    </label>
</p>
<p align="center">
    <label>Efteramn: </label>
    <label>
        <td align="center" th:text="${Person.lastName}"></td>
    </label>
</p>
<p align="center">
    <label>Personnummer: </label>
    <label>
        <td align="center" th:text="${Person.personalNumber}"></td>
    </label>
</p>
<p align="center">
    <label>Adress: </label>
    <label>
        <td align="center" th:text="${Person.adress}"></td>
    </label>
</p>
<p align="center">
    <label>Epostadress: </label>
    <label>
        <td align="center" th:text="${Person.email}"></td>
    </label>
</p>
<p align="center">
    <label>Sysselsättning: </label>
    <label>
        <td align="center" th:text="${Person.personType.personTypeTitle}"></td>
    </label>
</p>

</body>
</html>