<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>School of AJJST</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
    <header>
        <div class="main">
            <div class="logo">
                <img src="https://i.imgur.com/SVMxoeA.png" alt="sms.png">
            </div>
            <ul>
                <li class="active"><a href="#">Hem</a></li>
                <li><a href="http://localhost:8080/login">Logga in</a></li>
                <li><a href="mailto:audiote@gmail.com">Kontakt</a></li>
                <li><a href="https://github.com/johanlind1984/schoolmanagementsystem">Github</a></li>
                <li><a href="#">Om</a></li>
            </ul>
        </div>
        <div class="title">
            <h1>School of AJJST</h1>
        </div>


        <div class="button">
            <a href="http://localhost:8080/login" class="btn">Logga in här</a>
        </div>
    </header>
</body>
</html>