<!DOCTYPE html>
<html lang="en"  xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>User Registration Success</title>
<style>
	span{
		display: inline-block;
		width: 200px;
		text-align: left;
	}
	button{
		margin: 10px;
		padding: 10px;
	}
</style>
</head>
<body>
	<div align="center">
	<br/>
	<h1>Lärare Information</h1><br/><br/>
	<span>Namn:</span><span th:text="${teacher.firstName}"></span><br/><br/>
	<span>Efternamn:</span><span th:text="${teacher.lastName}"></span><br/><br/>
	<span>Personnummer:</span><span th:text="${teacher.personalNumber}"></span><br/><br/>
	<span>Mejl Adress:</span><span th:text="${teacher.email}"></span><br/><br/>
	<span>Adress:</span><span th:text="${teacher.adress}"></span><br/><br/><br/><br/>
	
	<td>
        <a th:href="@{'/edit/' + ${teacher}}">Edit</a>
    </td>
	
	</div>
</body>
</html>