<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
<title>Teacher</title>
</head>
<body>

<div align="center">
    <h1>Lärare Profil Information</h1>
    
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                
                <th>Namn</th>
                <th>Efternamn</th>
                <th>Personnummer</th>
                <th>Email</th>
                <th>Adress</th>
            </tr>
        </thead>
        <tbody>
            
            	<td th:text="${teacher.firstName}">Namn</td>
                <td th:text="${teacher.lastName}">Efternamn</td>
                <td th:text="${teacher.personalNumber}">Personnummer</td>
                <td th:text="${teacher.email}"> Email</td>
                <td th:text="${teacher.adress}">Adress</td>
               
            
        </tbody>
    </table>
   </div>
</body>
</html>