<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" lang="sv">

<head>
	<!-- Meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
</head>

<body>

<h2 align="center">Välkommen!</h2>
<h3 align="center">Du har nu lämnat in din ansökan om konto.</h3>
<h3 align="center">Kontot behöver bekräftas av administratör innan du kan logga in.</h3>
</body>
</html>